In [1]:
import pandas as pd
import numpy as np

In [67]:
columns=['user', 'item', 'rating', 'timestamp']

In [68]:
df=pd.read_csv('./u.data', sep='\t', names=columns)

In [69]:
df.head()

   user  item  rating  timestamp
0   196   242       3  881250949
1   186   302       3  891717742
2    22   377       1  878887116
3   244    51       2  880606923
4   166   346       1  886397596

In [5]:
df.shape

(100000, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  int64
 1   item_id    100000 non-null  int64
 2   ratings    100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [23]:
df['user_id'].nunique()

943

In [24]:
df['item_id'].nunique()

1682

In [19]:
grouped_df=df.groupby(['user_id'], as_index=False).agg({'item_id': 'count'})

In [20]:
grouped_df

     user_id  item_id
0          1      272
1          2       62
2          3       54
3          4       24
4          5      175
..       ...      ...
938      939       49
939      940      107
940      941       22
941      942       79
942      943      168

[943 rows x 2 columns]

In [62]:
df=df.iloc[:, :3]

In [63]:
df.head()

   user_id  item_id  ratings
0      196      242        3
1      186      302        3
2       22      377        1
3      244       51        2
4      166      346        1

In [7]:
pip install scikit-surprise

Requirement already satisfied: scikit-surprise in /Users/j/anaconda3/lib/python3.11/site-packages (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /Users/j/anaconda3/lib/python3.11/site-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/j/anaconda3/lib/python3.11/site-packages (from scikit-surprise) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in /Users/j/anaconda3/lib/python3.11/site-packages (from scikit-surprise) (1.10.1)
Note: you may need to restart the kernel to use updated packages.

In [70]:
import surprise

In [80]:
from surprise import SVD, accuracy
from surprise.model_selection import cross_validate, train_test_split

In [72]:
from surprise import Reader, Dataset

In [73]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df[['user', 'item', 'rating']], reader)

In [76]:
trainset, testset=train_test_split(data, test_size=0.2, random_state=42)

In [81]:
algo = SVD()

# Train the model on the training set
algo.fit(trainset)

# Make predictions on the testing set
predictions = algo.test(testset)

# Evaluate the predictions
accuracy.rmse(predictions)

RMSE: 0.9358

0.9357690212029854